* {
    font: Cambria;
}

body {
    position: fixed;
    top: -10px;
    left: -9px;
}

.phonescreen {
    position: fixed;
    border:2px solid #010101;
    overflow: scroll;
    width: 30vw;
    height: 100vh;
}

.prompt {
    position: absolute;
    top: 5%;
    background-color: #444343;
    border-radius: 7px;
    width: 80%;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    max-height: 75vh;
    overflow: scroll;

}
.hidden-permission {
    display: none;
    background-color: rgb(187, 187, 187);
    font-size: .8em;
    margin: 10px;

}
.consent-button {
    width: 100%;
    border-top: #d7d7d7 solid .5px;
    color: #63d8ff;
    padding: 4px;

}

.overlay {
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.01);
    z-index: 2;
    cursor: pointer;
    width: 100vw;
    height: 100vh;
}

#bodycontent {
    
    width: 100%;
    height: 75vh;
    overflow: scroll;
    font-size: x-large;
}

#back-button{
    font-size: 4em;
    width: .5vw;
    height: .5vh;
    background-color: red;
}

#AppName {
    margin-left: 10px;
    width: 100%;
    height: 5vh;
    font-size: 4.4vh;
    color: rgb(164, 95, 225);
    
}

.center {
    text-align: center;
}

.permission-header {
    display: flex;
    width: 100%;
    margin: 10px;
}

.center-button{
    border-radius: 10px;
    font-size: 1.2em;
    background-color: blueviolet;
    color: white;
    font-family: helvetica;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    padding: 4px 30px;
}

/*
.center-button:hover {
    color: blueviolet;
    background-color: white;
    border: #010101 solid;
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
}
*/

.text-input {
    width: 75%;
}

#footer {
    position: fixed;
    bottom: 0px;
    margin-bottom: -4px;
}


.text-left{
    display: inline-block;
    text-align: left;
}


